<ul class="list-unstyled">
	{% for method in include.methods %}
		<li id="{{ method.name }}" class="pt-5 method-detail">
			<h3>
				<a href="#{{ method.name }}">
					{% if method.static == true %}
						::{{ method.name }}
					{% else %}
						{{ method.name }}
					{% endif %}
				</a>
			</h3>

			<p class="lead">
				{% include docs/methodFullName.liquid method=method %}
			</p>

			{% if method.summary and method.summary != '' %}
				<section class="mb-3">
					<strong class="d-block">Summary</strong>
					{{ method.summary }}
				</section>
			{% endif %}

			{% if method.description and method.description != '' %}
				<section class="mb-3">
					<strong class="d-block">Description</strong>
					{{ method.description }}
				</section>
			{% endif %}

			{% if method.args %}
				<section class="mb-3">
					<strong>Parameters</strong>
					{% for arg in method.args %}
						<div class="{% if forloop.last != true %}mb-2 {% endif %}row">
							<div class="col-sm-3 col-md-2">
								{{ arg.name }}
							</div>
							<div class="col-sm-9 col-md-10">
								{{ arg.description }}
							</div>
						</div>
					{% endfor %}
				</section>
			{% endif %}

			{% if method.return %}
				<section class="method__returns">
					<strong>Returns</strong>
					<div class="row">
						<div class="col-sm-3 col-md-2">
							<p>{{ method.return.type }}</p>
						</div>
						<div class="col-sm-9 col-md-10">
							<p>{{ method.return.description }}</p>
						</div>
					</div>
				</section>
			{% endif %}
		</li>
	{% endfor %}
</ul>